################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PFEAplicationApiApp/PFEDal/obj
/PFEAplicationApiApp/PFEServices/obj
