<app-home></app-home>

<div class="container" *ngIf="userformgroup">
    <form  [formGroup]="userformgroup">
       <div class="form-group">
            <label for="">Login</label>
            <input type="text" class="form-control" formControlName="login">
        </div>
        <div class="form-group">
            <label for="">Mot de pass</label>
            <input type="password" class="form-control" formControlName="password">
        </div>
        <div class="form-group">
            <label for="">Nom</label>
            <input type="text" class="form-control" formControlName="name">
        </div>
        <div class="form-group">
            <label for="">Prenom</label>
            <input type="text" class="form-control" formControlName="prenom">
        </div>
        <div class="form-group">
            <label for="">Date de naissance</label>
            <input type="text" class="form-control" formControlName="date_naiss">
        </div>
         <div class="form-group">
            <label for="sexe">Sex</label>
            <select name="" id="sexe" class="form-control" formControlName="sexe">
                <option value="Femme">Femme</option>
                <option value="Masculin">Masculin</option>
            </select>
        </div>
        <div class="form-group">
            <label for="sele">Service</label>
           
           <select id="sele" class="form-control" formControlName="service">
               <option value="Administrateur">Administrateur</option>
               <option value="Employer">Employer</option>
           </select>
        
        </div>
        <div class="form-group">
            <label for="">Adress</label>
            <input type="text" class="form-control" formControlName="adress">
        </div>
        <div class="form-group">
            <label for="">tel</label>
            <input type="text" class="form-control" formControlName="tel">
        </div>
        <button type="submit" class="btn btn-primary" (click)="update()" >Submit</button>

    </form>
</div>
