<app-home></app-home>
<nav class="navbar navbar-expand-sm bg-light navbar-light">
 
    <ul class=" navbar navbar-nav">
      <li  class="nav-item">
        <button class="btn btn-sm btn-outline-success ml-2"(click)="onGetAllUsers()" >ALLUsers</button>
      </li>
      <li class="nav-item" >
          <button class="btn btn-sm btn-outline-success ml-2" routerLink="/adduser" >AddUser</button>
      </li>
      
      <div class="navbar-nav ms-auto">
            <li class="nav-item">
              <form #f="ngForm" (ngSubmit)="onSearch(f.value)"  class="form-inline" >
                   
                      <input class="form-control ml-2" type="text"   ngModel name="keyword">
                      <button class="btn btn-sm btn-outline-success ml-2 " >
                          <span class="fa fa-search"></span>
                      </button>
                    
                </form>
            </li>
  
          </div> 
      </ul>
  </nav>
  <ng-container *ngIf="(User$ |async) as result" [ngSwitch]="result.datastate">

  <ng-container *ngSwitchCase="DataStateEnum.LOADING">
    Loading...
  </ng-container>

  <ng-container *ngSwitchCase="DataStateEnum.ERROR">
   <div class="alert-danger">
     {{result.errorMessage}}
   </div>
  </ng-container>

  <ng-container *ngSwitchCase="DataStateEnum.LOADED">
   <table class="table">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Date de naissance</th>
      <th>Sex</th>
      <th>Adress</th>
      <th>Service</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let u of result.data ">
      <td>{{u.name}}</td>
      <td>{{u.prenom}}</td>
      <td>{{u.date_Naiss}}</td>
      <td>{{u.sexe}}</td>
      <td>{{u.adress}}</td>
      <td>{{u.service}}</td>
      <td>
        <button class="btn btn-danger" (click)="onDelet(u)">
            <span class="fa fa-trash-o"></span>
        </button>
    </td>
    <td>
        <button class="btn btn-danger" (click)="onUpdate(u)" >
            <span class="fa fa-edit"></span>
        </button>
    </td>

    </tr>
  </tbody>

  </table>

  </ng-container>

  </ng-container>
 

